@import './design/_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
  margin: auto;
  width: 90%;
  div{
    main{
      background-color: $background;
      color: $textColor;
      margin: 0;
      padding: 0;
      font-family: 'Oswald', sans-serif;
    }
  }

  nav{
    display: flex;
    flex-direction: column;
  }
 

  .contentContainer{
    display: flex;
    flex-direction: row;

    nav{
      background-color: rgb(205, 222, 179);
      order: 1;
      margin-top: 1em;
    }

    .deck{
      order: 2;
      margin: 2em;
    }
   
  }

}


