@import '../components/design/_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Raleway');

h3{

  &.light{
  font-family: 'Oswald', sans-serif;
  padding-bottom: 1em;
  text-align:center;

  a{
    text-decoration: none;
    color: $textColor;
  
    &:hover {
      color: $accentColor;
    }
  }
  }

  &.dark{
  
  a{
    text-decoration: none;
    color: $textColorDark;

    &:hover {
      color: $accentColor;
    }
  }
  }
}