@import './_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald');

header{
  background: $background;
  color: $textColor;
  clear:both;
  padding-top: 1em;
  border-bottom: 2px double lightgray;

  div{
    .cartNum{
      border-radius: 10px;
      border: 1px solid gray;
      background-color: $accentColor;
      text-align: center;
      margin-top: -3em;
    }

    .cart{
      color: $textColor;
      float:right;
      font-size: .8em;
      padding-right: 1em;
      padding-top: .5em;
      text-decoration: none;
    }

    h1{
      font-family: 'Oswald', sans-serif;
      padding-bottom: 1em;
      text-align:center;
      padding-left: 2em;

      a {
        color: $textColor;
        text-decoration: none;
      }
    }
  }
}