@import './_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
  margin: auto;
  width: 100%;
  div{
    main{
      margin: 0;
      padding: 0;
      font-family: 'Lato', sans-serif;
      width:100%;
    }
  }

  nav{
    display: flex;
    flex-direction: column;
  }
 

  .contentContainer{
    display: flex;
    flex-direction: row;

    &.light{
      background-color: $background;
      color: $textColor;
    }

    &.dark{
      background-color: $backgroundDark;
      color: $textColorDark;
    }

    &.color{
      background-color: $backgroundColor;
      color: $textColorColor;
    }

    nav{
      background-color: rgb(205, 222, 179);
      order: 1;
      margin-top: 1em;
    }

    .card-deck{
      display: flex;
      flex-direction: row;
    }

    .deck{
      order: 2;
      margin: 2em;
    }
   
  }

}


