@import './_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.card{
  width: 200px;
  margin: 1em;
}

.Modal {
  width: 54%;
  margin: auto;
  position: absolute;
  padding: 1em;
  padding-bottom: 2em;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: $background;
  height: 90%;
  overflow: scroll;

  div{
    padding: 5px;
  }

  img{
    margin: auto;
  }
}


.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(226, 226, 226, 0.5);
}
